{% set header = header is not defined or header %}

{% block navbar %}
    <div class="{% block class class|default('navbar') %}" role="navigation">
        {% block container %}
            <div class="{% block container_class container_class|default('container') %}">
                {% block header_container %}
                    {% if header %}
                        <div class="navbar-header">
                            {% block header_content %}
                                {% block header_toggle %}
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                {% endblock header_toggle %}
                                {% block brand brand|default('Acme') %}
                            {% endblock header_content %}
                        </div>
                    {% endif %}
                {% endblock header_container %}

                {% block collapse_container %}
                    <div class="collapse navbar-collapse">
                        {% block navs null %}
                    </div>
                {% endblock collapse_container %}
            </div>
        {% endblock container %}
    </div>
{% endblock navbar %}
